.item {
    /*border-bottom: 1px solid lightgray;*/
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2),
                inset -2px -2px 6px rgba(255,255,255,0.1),
                5px 5px 6px rgba(0,0,0,0.3),
                -2px -2px 6px rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    border-radius: 15px;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(130,130,130,100);

}

.item:first-child {
    /*border-top: 1px solid lightgray;*/
}

.item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: dimgray;
    font-weight: 500;
}

.item a.active {
    color: red;
    font-weight: 500;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.name {
    margin-left: 5px;
    margin-right: 5px;
}