.post {
    margin-top: 10px;
    padding: 5px;

}

.item {
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item img {
    width: 50px;
    border-radius: 50%;
}