.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "n c";
  margin: 0 auto;
  max-width: 1200px;
  grid-gap: 15px;
}

.app-wrapper-content {
  grid-area: c;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}






