.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "n c";
  margin: 0 auto;
  max-width: 1200px;
  grid-gap: 15px;
}

.header {
  grid-area: h;
  background-image: url("logo.svg");
  background-repeat: no-repeat;
}


.nav {
  grid-area: n;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content {
  grid-area: c;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}

.user {
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.user img {
  width: 50px;
  border-radius: 50%;
}

.user-header {
  min-height: 200px;
  background-image: url("user-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.posts {
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}