.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    margin-right: 10px;
}

.dialogs_message {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 10px;
    border-radius: 15px;
}



